
body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("./images/sky.jpg");
}

.frame {
  margin: 50px auto 10px;
  max-width: 745px;
  min-width: 745px;
  padding-top: 10px;
  padding-bottom: 5px;
  background: rgba(255, 255, 255, 0.7);
  font-family: "Rubik", sans-serif;
  border-radius: 3px;
}
